<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="toolbar">E-commerce P2</div>

<div class="navbar">
    <div class="navContent">
      <a routerLink="home">Home</a>
      <a routerLink="checkout">Checkout</a>
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
      <a routerLink="profile">Profile</a>
    </div>
  </div>

<router-outlet></router-outlet>
