.toolbar{
    background-color: darkgrey;
    height:35px;
    margin: auto;
    font-size:x-large;
    text-align: center;
}
.navbar{
    background-color: rgb(196, 219, 224);
    margin-right: 50px;
}
.navContent,a{
    margin-right: 50px;
    padding: 1px;
    font-size: larger;
    text-align: center;

    margin-left: 29px;
}
.toolbar{
    background-color: rgb(107, 206, 231);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}